<link rel="stylesheet" type="text/css" href="logPageStyle.css">
<% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar.ejs %>
  <div class="container line-in-middle">
    <!-- left hand side of page column-->
    <div class="col1">
      <h1>Search</h1>
      <hr>
      <form class="form-inline" action="/foodlog" method="POST">
        <input type="search" name="searchTerm" class="form-control mr-sm-2 searchTerm" placeholder="Search for food" aria-label="Search">
        <button type="submit" class="btn btn-primary searchButton">Search</i></button>
      </form>
      <hr>
      <% foodType.forEach(function(foodType, measurement){ %>
        <form id="resultsForm" action="/foodlog:submitted" method="GET">
          <div class="form-row align-items-center">
            <div class="col-sm-4">
              <input class="result" type="hidden" name="foodType" value='<%-foodType.label%>'><%- foodType.label %>
              <input class="result" type="hidden" name="foodUrl" value='<%-foodType.uri%>'>
            </div>
            <div class="col-2">
              <input class="form-control result" name="quantity" type="text" placeholder="Amount" style="width:90px">
            </div>
            <div class="col-2">
              <select id="inputState" class="form-control result" name="measurement" style="width:110px">Measurement
                <option selected disabled> Measure </option>
                <% measures.forEach(function(measurement){%>
                    <option value= '<%-measurement.uri%>' ><%-measurement.label%>
                  <%  }); %>
              </select>
            </div>
            <div class="col-auto">
              <input class="btn btn-primary result" type="submit">
            </div>
          </div>
        </form>
      <%  }); %>
    </div>  
    <!--end left column-->
    <!--right hand side of the page column-->
    <div class="col2">
      <div class="container">
      <!--start of form for logging food-->
        <h1>Diary</h1>
        <hr>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Food</th>
            <th scope="col">Quantity</th>
            <th scope="col">Calories</th>
            <th scope="col">Protein</th>
            <th scope="col">Fat</th>
          </tr>
          </thead>
          <tbody>
          <% var i=0; %>
          <% loggedFood.forEach(function(loggedFood){%>
            <tr>
              <td><%= loggedFood %></td>
              <td><%= loggedQuantity[i] %></td>
              <% console.log(calories + "hello") %>
              <td><%= calories %></td>
              <td>fat</td>
              <td>-</td>
            </tr>
            <% i++; %>
          <%  }); %>
        </tbody>
        </table>
        <hr>
        <!--end of food logging form-->
        <form>
          <button type="submit" id="analyseDiet" class="btn btn-lg btn-primary" ><a href="/dietbreakdown">Analyse Diet</a></button>
        </form>
      </div>
    </div>
    <!--end right column-->
  </div>
  <% include partials/footer.ejs %>