<link rel="stylesheet" href="logPageStyle.css">
<% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar.ejs %>
  <div class="container line-in-middle">
    <!-- left hand side of page column-->
    <div class="col1">
      <h2>Search</h2>
        <form class="form-inline" action="/foodlog" method="POST">
          <input type="search" name="searchTerm" class="form-control mr-sm-2 searchTerm" placeholder="Search for food" aria-label="Search">
          <button type="submit" class="btn btn-lg btn-primary searchButton">Search</i></button>
        </form>
        <% foodType.forEach(function(foodType, measurement){ %>
          <form id="resultsForm" action="/foodlog:submitted" method="GET">
            <input class="result" type="hidden" name="foodType" value='<%-JSON.stringify(foodType.label)%>'><%- JSON.stringify(foodType.label) %>
            <input class="result" type="hidden" name="foodUrl" value='<%-JSON.stringify(foodType.uri)%>'>
            <input class="result" name="quantity" type="text" placeholder="Amount" style="width:75px">
            <div class="result" class="dropdown">
              <select class="dropbtn" name="measurement">Measurement
              <div class="dropdown-content">
                <% measures.forEach(function(measurement){%>
                    <option value= '<%-JSON.stringify(measurement.uri)%>' ><%-JSON.stringify(measurement.label)%>
                  <%  }); %>
              </div>
              </select>
            </div>
            <input class="result" type="submit" class="btn btn-default btn-primary">
          </form>
      <%  }); %>
    </div>  
    <!--end left column-->

    <!--right hand side of the page column-->
    <div class="col2">
    <!--start of form for logging food-->
      <h2>Diary</h2>
      <table>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Calories</th>
          <th>Protein</th>
          <th>Fat</th>
        </tr>
        <% var i=0; %>
        <% loggedFood.forEach(function(loggedFood){%>
          <tr>
            <td><%= loggedFood %></td>
            <% if (typeof loggedQuantity != 'undefined') { %>
              <td><%= loggedQuantity[i] %></td>
              <% i++; %>
            <% } %>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        <%  }); %>
      </table>
      <!--end of food logging form-->
      <form>
        <button type="submit" id="analyseDiet" class="btn btn-lg btn-primary" ><a href="/dietbreakdown">Analyse Diet</a></button>
      </form>
    </div>
    <!--end right column-->
  </div>
  <% include partials/footer.ejs %>