<link rel="stylesheet" type="text/css" href="logPageStyle.css">
<% include partials/head.ejs %>
</head>
<body onload="checkUser()">
<% include partials/navbar.ejs %>
  <div class="container line-in-middle">
    <!-- left hand side of page column-->
    <div class="col1">
      <h1>Search</h1>
      <hr>
      <form class="form-inline" action="/foodlog" method="POST">
        <input type="search" name="searchTerm" class="form-control mr-sm-2 searchTerm" placeholder="Search for food" aria-label="Search">
        <button type="submit" class="btn btn-primary searchButton">Search</i></button>
      </form>
      <hr>
      <% if (typeof result !== "undefined") { %>
        <% result.forEach(function(results){ %>
          <form id="resultsForm" action="/foodlog:submitted" method="GET">
            <div class="form-row align-items-center">
              <div class="col-sm-4">
                <input class="result" type="hidden" name="foodName" value='<%-results.food.label%>'><%- results.food.label %>
                <input class="result" type="hidden" name="foodUrl" value='<%-results.food.uri%>'>
              </div>
              <div class="col-2">
                <input class="form-control result" name="quantity" type="text" placeholder="Amount" style="width:90px">
              </div>
              <div class="col-2">
                <select id="inputState" class="form-control result" name="measurement" style="width:110px">Measurement
                  <option selected disabled> Measure </option>
                  <% results.measures.forEach(function(measures){%>
                      <option value= '<%-measures.label%>,<%-measures.uri%>' ><%-measures.label%>
                    <%  }); %>
                </select>
              </div>
              <div class="col-auto">
                <input class="btn btn-primary result" type="submit">
              </div>
            </div>
          </form>
        <%  }); %>
    <% } %>
    </div>  
    <!--end left column-->
    <!--right hand side of the page column-->
    <div class="col2">
      <div class="container">
      <!--start of form for logging food-->
        <h1>Daily Food Diary</h1>
        <hr>
        <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">Food</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit</th>
            </tr>
            </thead>
            <tbody>
              <tr>
            <% if (typeof loggedFood !== "undefined") { %>
              <% for(var key in loggedFood) { %>
                <% if (loggedFood.hasOwnProperty(key)) { %>
                    <% var val = loggedFood[key]; %>
                <td><%= val.foodName %></td>
                <td><%= val.quantity %></td>
                <td><%= val.measurement %></td>
              </tr>
                <% } %>
              <% } %>
            <% } %>
          </tbody>
          </table>
        <hr>
        <!--end of food logging form-->
        <button type="submit" id="analyseDiet" class="btn btn-lg btn-primary" ><a href="/dietbreakdown">Analyse Diet</a></button>
      </div>
    </div>
    <!--end right column-->
  </div>
  <script src="home.js"></script>
  <% include partials/footer.ejs %>